body {
  margin: 0;
  box-sizing: border-box;
}

.container-div {
  margin: 8px 10px;
}

.container {
  margin: 0 0 20px;
}

.container-labels {
  margin: 10px 0;
}

.container-labels-first {
  margin: 0 0 10px;
}

.container-labels-last {
  margin: 10px 0 0;
}
