body {
  margin: 0;
  box-sizing: border-box;
}

.container-div {
  margin: 8px;
}

.container {
  margin-bottom: 20px;
}

.input {
  display: inline-block;
  margin: 0 0 10px;
}

.input-container {
  margin: 0 0 10px;
}
